body {
  font: 12px/1.5 tahoma, arial, simsun;
}
input {
  vertical-align:middle;
  /*IE6下高度有点大*/
  _height:13px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea,
input[type="text"],
input[type="password"] {
  padding: 1px 3px;
  border: 1px solid #b5b8c8;
  background: #ffffff url('../images/form/text-bg.gif') repeat-x 0 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #7eadd9;
  outline: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="text"],
input[type="password"] {
  /*firefox默认高度过大*/

  height: 15px;
}
fieldset {
  padding: 10px;
  border: 1px solid #b5b8c8;
}
fieldset > legend {
  padding: 0 3px 1px;
  color: #15428b;
}
.row {
  margin-bottom: 10px;
}
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align:top;
  _margin-right:3px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.unselectable {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  cursor: default;
}
.disabled {
  filter: alpha(opacity=30);
  opacity: 0.3;
  cursor: default!important;
}
.mod {
  position: relative;
  margin-bottom: 10px;
  /*IE6中relative会出现各种问题*/
  _zoom:1;
}
.hd {
  overflow: hidden;
  padding: 3px 5px 4px;
  border: 1px solid #99bce8;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #cbddf3;
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  background-image: -moz-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  background-image: -o-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  background-image: -ms-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  background-image: linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3);
  box-shadow: #f4f8fd 0 1px 0 0 inset;
}
.bd {
  border: 1px solid #99bce8;
  border-top-width: 0;
  background-color: #dfe9f6;
}
.hd-title {
  font-weight: bold;
  color: #04408c;
}
.btn {
  width: 60px;
  margin: 2px;

  height:22px;
  _line-height:20px;

  border: 1px solid #d1d1d1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #99bce8;
  background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  background-image: -o-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  background-image: -ms-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  background-image: linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  cursor: pointer;
}
.btn:hover {
  border-color: #b0ccf2;
  background-color: #c6dcf6;
  background-image: -webkit-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
  background-image: -moz-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
  background-image: -o-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
  background-image: -ms-linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
  background-image: linear-gradient(top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
}
.btn-is-pressed,
.btn-is-pressed:hover {
  border-color: #9ebae1;
  background-color: #98c5f5;
  background-image: -webkit-linear-gradient(top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);
  background-image: -moz-linear-gradient(top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);
  background-image: -o-linear-gradient(top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);
  background-image: -ms-linear-gradient(top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);
  background-image: linear-gradient(top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);
}


/*grid*/

.grid-hd{
  background-color: #e3e4e6;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
  background-image: -moz-linear-gradient(top, #f9f9f9, #e3e4e6);
  background-image: -o-linear-gradient(top, #f9f9f9, #e3e4e6);
  background-image: -ms-linear-gradient(top, #f9f9f9, #e3e4e6);
  background-image: linear-gradient(top, #f9f9f9, #e3e4e6);
}
.grid-bd{
  overflow:auto;
  background: white;
}

.grid-row{
  background-color: white;
}
.grid-row-alt{
  background-color: #fafafa;
}
.grid-row:hover{
  background-color: #efefef;
}
.grid-row-is-selected,
.grid-row-is-selected:hover {
  background-color: #dfe8f6;
}

.grid-cell {
  padding: 0 4px;
  border-width: 0 1px 1px 0;
  border-style: dotted;
  border-color: #c5c5c5;
}
.grid-hd .grid-cell {
  border-bottom: 1px solid #ccc;
}
.grid-mark-cell{
  background-color: #e3e4e6;
  text-align:center;
  border-bottom-style: solid;
}
.grid-detail-cell{
  border-right-width:0;
}

.grid-is-desc span {
  padding-right: 16px;
  background: url('../images/grid/sort_desc.gif') no-repeat right 6px;
}
.grid-is-asc span {
  padding-right: 16px;
  background: url('../images/grid/sort_asc.gif') no-repeat right 6px;
}
.grid-cell-is-collapse {
  background: url('../images/grid/group-collapse.gif') no-repeat 9px 2px;
}
.grid-cell-is-expand {
  background: url('../images/grid/group-expand.gif') no-repeat 9px 2px;
}

.grid-no-border {
  width: 100%;
}
.grid-no-border .grid-cell {
  border-width:0;
}


/*toolbar*/
.toolbar {
  padding: 2px 0 2px 2px;
  border: 1px solid #99bce8;
  background-color: #d3e1f1;
  background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
  background-image: -moz-linear-gradient(top, #dfe9f5, #d3e1f1);
  background-image: -o-linear-gradient(top, #dfe9f5, #d3e1f1);
  background-image: -ms-linear-gradient(top, #dfe9f5, #d3e1f1);
  background-image: linear-gradient(top, #dfe9f5, #d3e1f1);
}
.toolbar-hd {
  border-width: 0 0 1px 0;
}
.toolbar-ft {
  padding: 4px 0 5px 5px;
  border-width: 1px 0 0 0;
}
.toolbar-btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 2px;
  border: 1px solid transparent;
  _border: 1px solid #d3e1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align:middle;
}
.toolbar-btn:hover {
  border-color: #81a4d0;
  background-color: #bed6f5;
  background-image: -webkit-linear-gradient(top, #dbeeff, #d0e7ff 48%, #bbd2f0 52%, #bed6f5);
  background-image: -moz-linear-gradient(top, #dbeeff, #d0e7ff 48%, #bbd2f0 52%, #bed6f5);
  background-image: -o-linear-gradient(top, #dbeeff, #d0e7ff 48%, #bbd2f0 52%, #bed6f5);
  background-image: -ms-linear-gradient(top, #dbeeff, #d0e7ff 48%, #bbd2f0 52%, #bed6f5);
  background-image: linear-gradient(top, #dbeeff, #d0e7ff 48%, #bbd2f0 52%, #bed6f5);
}
.toolbar-btn-is-pressed,
.toolbar-btn-is-pressed:hover {
  border-color: #7a9ac4;
  background-color: #9fc9f5;
  background-image: -webkit-linear-gradient(top, #bccfe5, #c5d6e7 48%, #95c4f4 52%, #9fc9f5);
  background-image: -moz-linear-gradient(top, #bccfe5, #c5d6e7 48%, #95c4f4 52%, #9fc9f5);
  background-image: -o-linear-gradient(top, #bccfe5, #c5d6e7 48%, #95c4f4 52%, #9fc9f5);
  background-image: -ms-linear-gradient(top, #bccfe5, #c5d6e7 48%, #95c4f4 52%, #9fc9f5);
  background-image: linear-gradient(top, #bccfe5, #c5d6e7 48%, #95c4f4 52%, #9fc9f5);
}
.toolbar-text {
  color: #4c4c4c;
}
.toolbar-text-right{
  float:right;
  margin-right:20px;
}
.toolbar-separator {
  vertical-align: middle;
  border-right: 1px solid white;
  border-left: 1px solid #98c8ff;
}
ul.menu {
  overflow: auto;
  padding: 2px;
  background: #f0f0f0;
}
ul.menu li {
  height: 24px;
  padding: 5px 6px 0 6px;
  border: 1px solid transparent;
  _border: 1px solid #f0f0f0;
  cursor: pointer;
}
ul.menu li:hover,
ul.menu li.menu-item-is-active {
  border-color: #a9cbf5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #c7ddf9;
  background-image: -webkit-linear-gradient(top, #e7f0fc, #c7ddf9);
  background-image: -moz-linear-gradient(top, #e7f0fc, #c7ddf9);
  background-image: -o-linear-gradient(top, #e7f0fc, #c7ddf9);
  background-image: -ms-linear-gradient(top, #e7f0fc, #c7ddf9);
  background-image: linear-gradient(top, #e7f0fc, #c7ddf9);
}
.menu-with-pic li .menu-item-pic {
  position: absolute;
}
.menu-with-pic li span {
  margin-left: 20px;
}

/*tab*/
.tab-hd {
  _margin-left:3px;
  margin-bottom:-1px;

  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 9px;
  border: 1px solid #8db3e3;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-color: #99bce8;
  font-weight: bold;
  color: #416da3;
  background-color: #deecfd 45%;
  background-image: -webkit-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
  background-image: -moz-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
  background-image: -o-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
  background-image: -ms-linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
  background-image: linear-gradient(top, #ccdef6, #d6e6fa 25%, #deecfd 45%);
  box-shadow: #ffffff 0 1px 0 0 inset, #ffffff -1px 0 0 0 inset, #ffffff 1px 0 0 0 inset;
  cursor: pointer;
}
.tab-hd:first-child {
  margin-left: 3px;
}
.tab-hd-is-active {
  border-bottom-color: #deecfd;
  color: #15498b;
  background-color: #99bce8;
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
  background-image: -o-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
  background-image: linear-gradient(top, #ffffff, #f5f9fe 25%, #deecfd 45%);
}
.tab-strip {
  height: 3px;
  /*解决IE6中最小高度为字体高度的问题*/
  _font-size:0;
  border: 1px solid #99bce8;
  background-color: #deecfd;
}
.tab-bd {
  _zoom:1;
}

/*accordion*/
.accordion-hd {
  padding: 3px 5px 4px;
  border-top: 1px solid #99bce8;
  border-bottom-width: 0;
  background: #d9e7f8;
}
.accordion-hd:first-child {
  border-top-width: 0;
}
.accordion-hd-is-active {
  border-bottom: 1px solid #99bce8;
}
.accordion-bd {
  display: none;
  overflow: auto;
  background: white;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #cccccc;
  opacity: .5;
  filter: alpha(opacity=50);
  *zoom: 1;
}
.dialog {
  position: absolute;
  padding: 4px;
  z-index: 3;
  border: 1px solid #a2b1c5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ced9e7;
  box-shadow: #ecf2fb 0 1px 0 0 inset, #ecf2fb 0 -1px 0 0 inset, #ecf2fb -1px 0 0 0 inset, #ecf2fb 1px 0 0 0 inset;
}
.dialog:focus {
  /*取消chrome默认样式*/

  outline: none;
}
.dialog-hd {
  cursor: move;
}
.dialog-hd span {
  font-weight: bold;
  color: #04468c;
}
.dialog-bd {
  padding: 10px;
}
.dialog-toolbar {
  margin-top: 8px;
  text-align: center;
}
.form {
  padding: 5px;
}
.form-label {
  display: inline-block;
  width:70px;
  text-align: right;
}
.form-star {
  font-weight: bold;
  color: red;
}
/*不同span下的input宽度*/
.form .span3 input {
  width: 120px;
}
.form .span4 input {
  width: 200px;
}
.form .span5 input {
  width: 280px;
}
.form .span6 input {
  width: 360px;
}
input.form-invalid {
  border:1px solid #cc3300;
  background: #ffffff url('../images/grid/invalid_line.gif') repeat-x bottom;
}
/*trigger*/
.form-trigger {
  display: inline-block;
  width: 17px;
  height: 18px;
  border-bottom: 1px solid #b5b8c8;
  vertical-align: middle;
  background-image: url('../images/form/trigger.gif');
  background-position: 0 0;
  cursor: pointer;
}
.form-trigger:hover {
  border-bottom-color: #7eadd9;
  background-position: -17px 0;
}
.form-date-trigger {
  background-image: url('../images/form/date-trigger.gif');
}
.form-clear-trigger {
  background-image: url('../images/form/clear-trigger.gif');
}
.form-search-trigger {
  background-image: url('../images/form/search-trigger.gif');
}
.form-spinner-trigger {
  background-image: url('../images/form/spinner-small.gif');
}
.form-toolbar {
  padding: 3px 0 4px;
  border-top: 1px solid #b5b8c8;
  text-align: center;
}
.layer {
  border: 1px solid #98c0f4;
  background: white;
  box-shadow: 1px 1px 4px #888888;
}
ul.list {
  overflow: auto;
}
ul.list li {
  padding: 2px;
  border: 1px dotted white;
  background: white;
  cursor: pointer;
}
ul.list li.is-selected {
  border-color: #8eabe4;
  background: #cbdaf0;
}
ul.list li:hover {
  border-color: #a3bae9;
  background: #dfe8f6;
}
.calendar {
  border: 1px solid #1b376c;
  background-color: white;
}
.calendar li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 22px;
  padding: 2px 0;
  text-align: center;
  cursor: pointer;
}
/*navigation*/
.calendar-navigation {
  color: white;
  background-color: #23427c;
}
.calendar-navigation .calendar-month-year {
  width: 75px;
}
.calendar-navigation li {
  font-weight: normal;
}
.calendar-navigation li:hover {
  font-weight: bold;
}
/*control*/
.calendar-control {
  border-bottom: 1px solid #b2d1f5;
  color: #233d6d;
  background-color: #cde1f9;
  background-image: -webkit-linear-gradient(top, #edf4fd, #cde1f9);
  background-image: -moz-linear-gradient(top, #edf4fd, #cde1f9);
  background-image: -o-linear-gradient(top, #edf4fd, #cde1f9);
  background-image: -ms-linear-gradient(top, #edf4fd, #cde1f9);
  background-image: linear-gradient(top, #edf4fd, #cde1f9);
}
/*container*/
.calendar-date-column .previous-month,
.calendar-date-column .next-month {
  color: #aaaaaa;
}
.calendar-data-container li {
  color: black;
}
.calendar-data-container li:hover {
  color: black;
  background-color: #ddecfe;
}
.calendar-data-container li.focused-element {
  border: 1px solid darkRed;
  background-color: #ddecfe;
}
.calendar-year-column li {
  width: 55px;
}
.calendar-month-column li {
  width: 55px;
}
/*footer*/
.calendar-footer {
  border-top: 1px solid #b2d1f5;
  text-align: center;
  background-color: #cbdaee;
  background-image: -webkit-linear-gradient(top, #dee8f5, #d1dff0 49%, #c7d8ed 51%, #cbdaee);
  background-image: -moz-linear-gradient(top, #dee8f5, #d1dff0 49%, #c7d8ed 51%, #cbdaee);
  background-image: -o-linear-gradient(top, #dee8f5, #d1dff0 49%, #c7d8ed 51%, #cbdaee);
  background-image: -ms-linear-gradient(top, #dee8f5, #d1dff0 49%, #c7d8ed 51%, #cbdaee);
  background-image: linear-gradient(top, #dee8f5, #d1dff0 49%, #c7d8ed 51%, #cbdaee);
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.icon-btn {
  border: 1px solid transparent;
  /*IE6中border不能为transparent*/
  _border: 1px solid #d3e1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.icon-btn:hover {
  border-color: #81a4d0;
  background-color: #dbeeff;
}
.icon-btn-is-pressed {
  border-color: #7a9ac4;
  background-color: #bccfe5;
}
.icon-btn-is-disabled {
  cursor: default;
}
.icon-btn-is-disabled:hover {
  border-color: transparent;
  background-color: transparent;
}
.icon-arrow {
  width: 14px;
  height: 14px;
  background-image: url('../images/button/arrow.gif');
}
.icon-menu-parent {
  width: 12px;
  height: 9px;
  background-image: url('../images/menu/menu-parent.gif');
}
/*自定义图标*/
.icon-book-addresses {
  background-image: url('../images/icons/book_addresses.png');
}
.icon-book {
  background-image: url('../images/icons/book.png');
}
.form-exclamation {
  background-image: url('../images/form/exclamation.gif');
}
.icon-question {
  width: 50px;
  height: 35px;
  background-image: url('../images/shared/icon-question.gif');
}
.icon-info {
  width: 50px;
  height: 35px;
  background-image: url('../images/shared/icon-info.gif');
}
/*tree*/
.icon-tree-folder {
  background-image: url('../images/tree/folder.gif');
}
.icon-tree-folder-open {
  background-image: url('../images/tree/folder-open.gif');
}
.icon-tree-leaf {
  background-image: url('../images/tree/leaf.gif');
}
.icon-tree-elbow,
.icon-tree-elbow-empty,
.icon-tree-elbow-line,
.icon-tree-elbow-minus,
.icon-tree-elbow-minus-nl,
.icon-tree-elbow-plus,
.icon-tree-elbow-plus-nl,
.icon-tree-elbow-end,
.icon-tree-elbow-end-minus,
.icon-tree-elbow-end-minus-nl,
.icon-tree-elbow-end-plus,
.icon-tree-elbow-end-plus-nl {
  width: 16px;
  height: 20px;
}
.icon-tree-elbow {
  background-image: url('../images/tree/elbow.gif');
}
.icon-tree-elbow-line {
  background-image: url('../images/tree/elbow-line.gif');
}
.icon-tree-elbow-minus {
  background-image: url('../images/tree/elbow-minus.gif');
}
.icon-tree-elbow-minus-nl {
  background-image: url('../images/tree/elbow-minus-nl.gif');
}
.icon-tree-elbow-plus {
  background-image: url('../images/tree/elbow-plus.gif');
}
.icon-tree-elbow-plus-nl {
  background-image: url('../images/tree/elbow-plus-nl.gif');
}
.icon-tree-elbow-end {
  background-image: url('../images/tree/elbow-end.gif');
}
.icon-tree-elbow-end-minus {
  background-image: url('../images/tree/elbow-end-minus.gif');
}
.icon-tree-elbow-end-minus-nl {
  background-image: url('../images/tree/elbow-end-minus-nl.gif');
}
.icon-tree-elbow-end-plus {
  background-image: url('../images/tree/elbow-end-plus.gif');
}
.icon-tree-elbow-end-plus-nl {
  background-image: url('../images/tree/elbow-end-plus-nl.gif');
}
/*grid*/
.icon-grid-page-next {
  background-image: url('../images/grid/page-next.gif');
}
.icon-grid-page-next-disabled {
  background-image: url('../images/grid/page-next-disabled.gif');
}
.icon-grid-page-prev {
  background-image: url('../images/grid/page-prev.gif');
}
.icon-grid-page-prev-disabled {
  background-image: url('../images/grid/page-prev-disabled.gif');
}
.icon-grid-refresh {
  background-image: url('../images/grid/refresh.gif');
}
.icon-grid-refresh-disabled {
  background-image: url('../images/grid/refresh-disabled.gif');
}
.icon-grid-page-first {
  background-image: url('../images/grid/page-first.gif');
}
.icon-grid-page-first-disabled {
  background-image: url('../images/grid/page-first-disabled.gif');
}
.icon-grid-page-last {
  background-image: url('../images/grid/page-last.gif');
}
.icon-grid-page-last-disabled {
  background-image: url('../images/grid/page-last-disabled.gif');
}
/*tool*/
.icon-tool {
  float: right;
  width: 15px;
  height: 15px;
  background-image: url('../images/tools/tool-sprites.gif');
  cursor: pointer;
}
.icon-tool-collapse-left {
  background-position: 0 -180px;
}
.icon-tool-collapse-left:hover {
  background-position: -15px -180px;
}
.icon-tool-collapse-top {
  background-position: 0 -255px;
}
.icon-tool-collapse-top:hover {
  background-position: -15px -255px;
}
.icon-tool-expand-bottom {
  background-position: 0 -240px;
}
.icon-tool-expand-bottom:hover {
  background-position: -15px -240px;
}
.icon-tool-close {
  background-position: 0 0;
}
.icon-tool-close:hover {
  background-position: -15px 0;
}
