body {
  overflow: hidden;
  background-color: #dfe8f6;
}

#header {
  height: 50px;
  padding-left: 30px;
  background-color: #d4e4ef 100%;
  background-image: -webkit-linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
  background-image: -moz-linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
  background-image: -o-linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
  background-image: -ms-linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
  background-image: linear-gradient(top, #86aecc 0%, #d4e4ef 100%);
}
#header span {
  font-size: 24px;
  line-height: 50px;
}
#main {
  overflow: hidden;
}
#footer {
  height: 30px;
  padding-left: 20px;
}
#footer span {
  line-height: 30px;
}

#sub {
  float:left;
  position:relative;
  left:5px;
  width:200px;
}
#splitter {
  float:left;
  position: relative;

  left:5px;
  width: 5px;
  cursor: col-resize;
}
.splitter-mini-left, .splitter-mini-right {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 5px;
  height: 35px;
  margin-top: -17px;
  background: no-repeat top right;
  cursor: pointer;
}
.splitter-mini-left {
  background-image: url('../images/util/splitter/mini-left.gif');
}
.splitter-mini-right {
  background-image: url('../images/util/splitter/mini-right.gif');
}

#container {
  float:left;
  margin-left:5px;
}

#menu .mod{
  margin-bottom: 0;
}
